/* stylelint-disable at-rule-no-unknown */

@import "./util.scss";

.container {
  padding: 0 2rem;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;

  .sidebarContainer { 
    left: 0px;
    position: absolute;
    top: 0px;
    width: fit-content;
  }
  
  .section {
    border: 1px solid #555555;
    border-radius: 30px;
    margin: 20px;
    width: 90vw;

   
  
  }

  .label {
    font-size: 20px;
    font-weight: bold;
  }
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem 0;
}

.title {
  font-size: 4rem;
  line-height: 1.15;
  margin: 0;
}

.header {
  @include centerContents;
  background: #143814;
  color: white;  
  min-height: 15vh;
  position: absolute;
  top: 0px;
  width: 100vw;
}

@media (min-width: 728px) {

  .section {
    max-width: 60vw;
  }
}